In [1]:
import pandas as pd

In [4]:
url = 'https://en.wikipedia.org/wiki/List_of_African_countries_by_GDP_(nominal)'

In [5]:
table = pd.read_html(url)

In [6]:
len(table)

9

In [8]:
table[0]

,Rank,Country,Nominal GDP(Billion US$)[5],Per Capita(US$)[5]
0,1,Egypt,398.397,3770.133
1,2,Nigeria,390.002,1755.326
2,3,South Africa,380.906,6190.742
3,4,Algeria,224.107,4874.706
4,5,Ethiopia,155.804,1473.360
5,6,Morocco,147.343,3979.871
6,7,Kenya,112.749,2187.648
7,8,Angola,93.796,2550.001
8,9,Tanzania,84.033,1326.634
9,10,Ivory Coast,79.430,2728.079
10,11,Ghana,76.628,2328.970
11,12,Democratic Republic of the Congo,67.512,675.477
12,13,Uganda,52.390,1163.034
13,14,Tunisia,51.271,4190.603
14,15,Cameroon,49.262,1721.954
15,16,Libya,40.194,5872.222
16,17,Zimbabwe,32.424,2005.875
17,18,Senegal,31.141,1714.653
18,19,Zambia,29.536,1435.890
19,20,Sudan,25.569,533.845
20,21,Guinea,23.205,1542.757
21,22,Mozambique,21.936,647.135
22,23,Mali,21.309,912.643
23,24,Burkina Faso,20.785,888.029
24,25,Botswana,20.756,7758.371
25,26,Benin,19.940,1449.112
26,27´,Gabon,19.319,8831.823
27,28´,Niger,17.073,630.800
28,29´,Madagascar,15.763,529.560
29,30*,Mauritius,14.819,11751.506
30,31´,Republic of Congo,14.407,2857.614
31,32,Rwanda,13.927,1031.692
32,33,Malawi,13.176,579.701
33,34,Namibia,12.647,4785.679
34,35,Chad,12.596,702.845
35,36´,Somalia,11.515,717.406
36,37,Mauritania,10.357,2337.914
37,38’,Equatorial Guinea,10.041,6502.187
38,39´,Togo,9.111,1004.466
39,40´,South Sudan,6.267,417.438
40,41,Liberia,4.347,800.213
41,42´,Djibouti,3.873,3761.241
42,43,Sierra Leone,3.519,414.962
43,44*,Burundi,3.190,245.811
44,45´,Central African Republic,2.760,539.240
45,45*,Cape Verde,2.598,4502.784
46,46´,The Gambia,2.388,903.293
47,47*,Seychelles,2.085,20889.545
48,48´,Guinea-Bissau,1.991,1028.223
49,49´,Eritrea,1.982 (2019)[6],566.731 (2019)[6]
50,51*,Comoros,1.364,1377.022
51,--,Total,2869.235,2029.242

In [9]:
df = table[0]

In [10]:
df.head()

  Rank       Country Nominal GDP(Billion US$)[5] Per Capita(US$)[5]
0    1         Egypt                     398.397           3770.133
1    2       Nigeria                     390.002           1755.326
2    3  South Africa                     380.906           6190.742
3    4       Algeria                     224.107           4874.706
4    5      Ethiopia                     155.804           1473.360

In [13]:
df.to_csv(r"C:\Users\Henry Oguns\Desktop\5 PROJECTS\1. DATA SCRAPPING\List Of African Countries by GDP.csv", index = False)